<div	class="tab-content-wrapper"
		id="tab-{{ include.id }}">

	<div class="tab-header">

		<h3 class="tab-title">
			{{ include.content.title }}
		</h3>

		{% if include.content.desc %}

			{% for desc in include.content.desc %}

				<p class="tab-description">
					{{ desc.paragraph }}
				</p>

			{% endfor %}

		{% endif %}

	</div>

	{% for section in include.content.sections %}


		{% if section.template %}

			{% include new_components/{{ section.template }}.html content=section %}

		{% else %}

			<section class="tab-section">

				{% include new_components/section-header.html content=section %}

				{% if section.cards %}

					<div class="cards-wrapper">

						{% for card in section.cards %}

							{% include new_components/card.html content=card %}

						{% endfor %}

					</div>

				{% endif %}

			</section>

		{% endif %}

	{% endfor %}

</div>

