<section class="tab-section">

	<h4 class="tab-section-title">
		{{ title }}
	</h4>

{% if desc %}

    <div class="tab-section-description">

    {% for desc_item in desc %}
        {% if desc_item.type == "p" %}

        <p class="tab-section-paragraph">
            {{ desc_item.content }}
        </p>

        {% elsif desc_item.type == "header" %}

        <h5 class="tab-section-subtitle">
            {{ desc_item.content }}
        </h5>

        {% endif %}
    {% endfor %}

    </div>

{% endif %}

	<ul class="organisation-chart">

{% for contributor in contributors %}

		<li class="contributor-wrapper">

			<a	class="contributor-link"
				href="contributor.href"
				target="_blank"
				title="contributor.title">
				<img	class="contributor-picture"
						src="https://github.com/{{ contributor.name }}.png"
						alt="GitHub profile picture of
							 {{ contributor.name }}">
			</a>

		</li>

{% endfor %}

	</ul>

	<a	class="button large tertiary organisation-button"
		href="https://github.com/iTowns/itowns/blob/master/CONTRIBUTORS.md"
		target="_blank"
  		title="Go to iTowns contributors list"
		style="--icon-left:
			url('{{ site.baseurl }}/assets/icons/github.svg')">
		See our contributors
	</a>

</section>

