<div class="active-tab-wrapper">
	<button	class="active-tab"
			id="active-tab"
			style="
				--before-image:
					url('{{ site.baseurl }}/assets/icons/tab-bar.svg');
				--after-image-arrow-down:
					url('{{ site.baseurl }}/assets/icons/arrow-down.svg');
				--after-image-arrow-up:
					url('{{ site.baseurl }}/assets/icons/arrow-up.svg');"
	>
	</button>
</div>

<ul	class="tab-bar collapsed"
	id="tab-bar"
>
	{% for item in tab_list %}
	<li>
		<a	class="tab-bar-item"
			id="link-{{ item.tab_id }}"
			href="#{{ item.tab_id }}"
			title="{{ item.tab_title }}"
		>
			{{ item.tab_title }}
		</a>
	</li>
	{% endfor %}
</ul>
