
<p>Coucou</p>


<h4 class="tab-section-title">
    {{ include.title }}
</h4>

{% if desc %}

    <div class="tab-section-description">

    {% for desc_item in desc %}
        {% if desc_item.type == "paragraph" %}

        <p class="tab-section-paragraph">
            {{ desc_item.content }}
        </p>

        {% elsif desc_item.type == "header" %}

        <h5 class="tab-section-subtitle">
            {{ desc_item.content }}
        </h5>

        {% endif %}
    {% endfor %}

    </div>

{% endif %}